/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom css starts here... */
html {
	overflow-y: scroll;  /*there's always a vertical scrollbar */
}
/*getting rid of scrollbar in chrome*/
::-webkit-scrollbar {
display: none;
}
::-moz-scrollbar {
display: none;
}
body {
  background-color: white;
}
h1 {
	font-family: 'Lato';
	font-weight: 700;
	color: black;
	letter-spacing: 0.15vw;
	font-size: 1.5vw;
	line-height: normal;
}
a {
	font-family: 'Lato';
	font-weight: 400;
	text-decoration: none;
}
.menu_open {
	display: none;
	z-index: 3;
	position: fixed;
	top: 0;
	width: 100%;
	min-height: 100vh;
	filter: opacity(90%);
	background-color: black;
}
.menu_container {
	display: none;
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
}
.menu {
	position: absolute;
	width: 100vw;
	top: 18vh;
	text-align: center;
}
.menu ul li {
	padding: 6vh 0;
}
.menu ul li a {
	text-decoration: none;
	font-weight: 700;
	font-size: 6vw;
	letter-spacing: 0.6vw;
	transition: color 0.5s;
	color: grey;
}
.menu ul li a:focus, .menu ul li a:hover {
	color: white;
}
@media only screen and (min-aspect-ratio:16/10){
	.menu {
		top: 28vh;
	}
	.menu ul li a {
		font-size: 2.5vw;
		letter-spacing: 0.25vw;
	}
}
.exit_icon {
	position: absolute;
	top: 3.5vh;
	right: 15vw;
	height: 4vh;
	width: 3vw;
}
@media only screen and (min-aspect-ratio:16/10) {
	.exit_icon {
		top: 9.5vh;
		right: 11.2vw;
		height: 5vh;
	}
}
.exit_icon img {
	height: 100%;
	width: auto;
}

.pagewrap {
	position: absolute;
	width: 90vw;
	min-height: 150vh;
	top: 0;
	left: 5vw;
	background-color: #f2f2f2;
}
@media only screen and (min-aspect-ratio:16/10){
	.pagewrap {
		min-height: 200vh
	}
}

/*header basic*/
header {
	height: 15vh;
	width: 80vw;
	position: fixed;
	top: 0;
	left: 10vw;
	z-index: 2;
	background-color: #f2f2f2;/*#82C3C7 turquoise*/
}
header .logo {
	display: inline-block;
	width: 10vw;
	float: left;
	padding: 0;
}
.logo img{
	height: 6vh;
	width: auto;
	padding: 2vh 0.5vw 0;
}
	/*main menu icon*/
.menu_icon {
	float: right;
	padding: 3vh 4vw 0;
	height: 5vh;
	width: 5vw;
}
.menu_icon img {
	height: 100%;
	width: auto;
}
/*header big screen*/
@media only screen and (min-aspect-ratio:16/10){
	header {
		height: 24vh;
		padding-top: 5vh;
	}
	.logo img{
		height: 10vh;
	}
	.menu_icon {
		padding: 3vh 0 0;
		height: 6vh;
	}
}

/*horizontal navbar basics*/
.horizmenu {
	display: inline-block;
	position: relative;
	text-align: center;
}
.horizmenu ul li {
	display: inline;
}
.horizmenu ul li a {
	text-decoration: none;
	letter-spacing: 0.2vw;
	font-size: 1.35vw;
	color: grey;
}
.submenu {
	width: 100%;
	display: inline-block;
	top: 2vh;
}
.submenu ul li {
	padding: 0 3vw;
}
.submenu ul li a {
	letter-spacing: 0.25vw;
	font-size: 2.5vw;
}
/*submenu text big screen*/
@media only screen and (min-aspect-ratio:16/10){
	.submenu ul li a {
		letter-spacing: 0.2vw;
		font-size: 1.8vw;
	}
}
.subsubmenu {
	top: 3vh;
	width: 100%;
}
.subsubmenu .arch, .subsubmenu .design, .subsubmenu .film {
	display: none;
}
.subsubmenu ul li {
	padding: 0 1vw;
}
.subsubmenu ul li a {
	letter-spacing: 0.2vw;
	font-size: 1.8vw;
}
/*subsubmenu text big screen*/
@media only screen and (min-aspect-ratio:16/10){
	.subsubmenu {
		top: 6vh;
	}
	.subsubmenu ul li a {
		letter-spacing: 0.1vw;
		font-size: 1.2vw;
	}
}

/*masonry grid basics*/
#grid {
	display: none;
	z-index: 1;
	position: absolute;
	top: 15vh;
	left: 5vw;
	width: 80vw;
	background-color: #f2f2f2;
}
#grid .item, .grid-sizer {
	width: 50%;
	height: auto !important;
	margin-bottom: 0.75vw;
}
#grid .item img {
	width: 39vw;
	padding: 0 0.5vw;
	height: 29.25vw !important;
}
#grid .item .double_height {
	height: 60vw !important;
}

/*grid big screen*/
@media only screen and (min-aspect-ratio:16/10){
	#grid {
		top: 30vh;
	}
	#grid .item, .grid-sizer {
		width: 33.33%;
		margin-bottom: 0.5vw;
	}
	#grid .item img {
		width: 26vw;
		padding: 0 0.33vw;
		height: 19.5vw !important;
	}
	#grid .item .double_height {
		height: 39.6vw !important;
	}
}/*big screen finish*/

#grid .item_hidden {
	position: absolute;
	width: 100%;
	bottom: 20%;
	text-align: center;
	padding: 1vh 0;
	background-color: #f2f2f2;
	opacity: 0;
	transition: opacity 1s;
}
#grid .item_visible {
	filter: contrast(50%);
	transition: filter 1s;
}
