/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom css starts here... */
@font-face {
	font-family: gill_sans;
	src: url(font/GillSans-Light.ttf);
}
/*getting rid of scrollbar*/
::-webkit-scrollbar {
display: none;
}
::-moz-scrollbar {
display: none;
}
/*general: color and font*/
body {
  background-color: white;
	font-family: "gill_sans";
	color: black;
}
h1 {
	color: black;
	letter-spacing: 0.25vw;
	font-size: 3.5vw;
	line-height: normal;
}
a {
	text-decoration: none;
	color: black;
	outline: 0;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
p {
	text-decoration: none;
}
@media only screen and (min-aspect-ratio:16/10){
	h1 {
		letter-spacing: 0.15vw;
		font-size: 1.5vw;
	}
}
/*dropdown menu and also lightbox*/
.menu_open, .lightbox { /*tint*/
	display: none;
	z-index: 3;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	filter: opacity(95%);
	background-color: #1D1D1B;
}
.menu_container {/*icon plus content*/
	display: none;
	position: relative;
	width: 90vw;
	top: 0;
	left: 5vw;
}
.menu_container .logo {/*position logo container, logo size dont together with main*/
	float: left;
	width: auto;
	height: auto;
	padding-top: 3vh;
}
.lightbox {
	filter: opacity(95%);
	background-color: black;
}
.lightbox-target {
	position: fixed;
	top: 6vh;
	left: 10vw;
	height: 84%;
	width: 80%;
	text-align: center;
}
.lightbox-target .ghost-element {
	height: 100%;
	width: 0.1%;
	display: inline-block;
	vertical-align: middle;
}
.lightbox-target img {
	height: auto;
	width: 98%;
	display: inline-block;
	vertical-align: middle;
}
.lightbox .exit {
	position: fixed;
	top: 3.5vh;
	right: 5vw;
}
.lightbox .exit img {
	width: 4vw;
}
.lightbox .left-arrow, .lightbox .right-arrow {
	position: fixed;
	top: 50vh;
	left: 3vw;
	z-index: 4;
}
.lightbox .right-arrow {
	left: auto;
	right: 3vw;
}
.lightbox .left-arrow img, .lightbox .right-arrow img {
	width: 8vw;
}
.lightbox .counter {
	position: fixed;
	height: 5vh;
	width: 70vw;
	left: 15vw;
	bottom: 4vh;
	color: white;
	font-family: "gill_sans";
	font-size: 3.5vw;
	text-align: center;
}
.lightbox figcaption {
	color: white;
	font-family: "gill_sans";
	font-size: 3.5vw;
	text-align: center;
	position: relative;
	bottom: 6vh;
}
@media only screen and (min-aspect-ratio:16/10){
	.menu_container {/*icon plus content*/
		width: 80vw;
		left: 10vw;
	}
	.menu_container .logo {/*position logo container*/
		padding-top: 5vh;
	}
	.lightbox-target .ghost-element {
		display: none;
	}
	.lightbox-target {
		top: 10vh;
		height: 80%;
		width: 80%;
	}
	.lightbox-target img {
		height: 100%;
		width: auto;
	}
	.lightbox .exit {
		top: 3.5vh;
		right: 3vw;
	}
	.lightbox .exit img {
		width: 2vw;
	}
	.lightbox .left-arrow {
		left: 10vw;
	}
	.lightbox .right-arrow {
		left: auto;
		right: 10vw;
	}
	.lightbox .left-arrow img, .lightbox .right-arrow img {
		width: 4vw;
	}
	.lightbox .counter {
		bottom: 0vh;
		font-size: 1.5vw;
	}
	.lightbox figcaption {
		font-size: 1.2vw;
	}
}
.menu {/*content*/
	position: absolute;
	width: 100%;
	top: 18vh;
	text-align: center;
}
.menu ul li {/*each list item*/
	padding: 7vh 0;
}
.menu ul li a {
	text-decoration: none;
	font-weight: 400;
	font-size: 6vw;
	letter-spacing: 0.6vw;
	transition: color 0.5s;
	color: grey;
}
.menu ul li a:focus, .menu ul li a:hover {
	color: white;/*turn links whte on hover*/
}
@media only screen and (min-aspect-ratio:16/10){
	.menu {
		top: 35vh;/*position of links in big screens*/
	}
	.menu ul li {/*padding list items*/
		padding: 5vh 0;
	}
	.menu ul li a {
		font-size: 1.8vw;
		letter-spacing: 0.1vw;
	}
}
.exit_icon {
	float: right;
	width: auto;
	padding-top: 8.5vh;
}
.exit_icon img {
	width: 5vw;
}
@media only screen and (min-aspect-ratio:3/4){
	.exit_icon {/*tablet screen*/
		padding-top: 9.5vh;
	}
}
@media only screen and (min-aspect-ratio:16/10) {
	.exit_icon {/*wider screens*/
		padding-top: 13vh;
	}
	.exit_icon img {
		width: 2.5vw;
	}
}

/*header basic*/
header {
	height: 24vh;
	width: 90vw;
	position: fixed;
	top: 0;
	left: 5vw;
	z-index: 2;
	background-color: white;
	/*border: 0.1vh solid black;*/
}
header .logo {/*position logo container*/
	float: left;
	width: auto;
	height: auto;
	padding-top: 3vh;
}
.logo img {/*size the logo*/
	width: 18vw;
}
/*main menu icon*/
.menu_icon {
	float: right;
	width: auto;
	height: auto;
	padding-top: 3vh;
}
.menu_icon img {
	width: 6vw;
}
/*header big screen*/
@media only screen and (min-aspect-ratio:16/10){
	header {
		width: 80vw;
		height: 28vh;
		left: 10vw;
		padding-top: 2vh;
	}
	.logo img{
		width: 9vw;
	}
	.menu_icon img {
		width: 2.8vw;
	}
}
/*sub-header basic*/
.sub-header {
	height: 3vh;
	width: 100vw;
	position: fixed;
	left: 0vw;
	top: 18vh;
	z-index: 2;
	/*border: .1vh solid black;*/
}
/*sub-header big screen*/
@media only screen and (min-aspect-ratio:16/10){
	.sub-header {
		height: 8vh;
		width: 58vw;
		left: 22vw;
		top: 13vh;
		z-index: 2;
	}
}
/*horizontal navbar basics*/
.horizmenu {
	display: inline-block;
	position: relative;
	text-align: center;
}
.horizmenu ul li {
	display: inline;
}
.horizmenu ul li a {
	text-decoration: none;
	letter-spacing: 0.1vw;
	font-size: 1.35vw;
	padding: 0 0.5vw 1vh 0.5vw;
	/*border: 0.1vh solid black;*/
}
.horizmenu ul li a:hover {
	font-style: italic;
}
/*submenu text*/
.submenu {
	width: 100%;
	display: inline-block;
	padding: 0 0 1vh 2vw;
}
.submenu ul li {
	padding: 0 1.5vw;
}
.submenu ul li a {
	letter-spacing: 0.2vw;
	font-size: 3vw;
}
@media only screen and (min-aspect-ratio:3/4){
	.submenu ul li {
		padding: 0 2.5vw;
	}
	.submenu {/*tablet screen*/
		padding: 2vh 0 2vh 4vw;
	}
}
@media only screen and (min-aspect-ratio:16/10){
	.submenu {
		padding: 0;
	}
	.submenu ul li {
		padding: 0 5vw;
	}
	.submenu ul li a {/*wide screens*/
		letter-spacing: 0.05vw;
		font-size: 1.5vw;
	}
}
/*subsubmenu text*/
.subsubmenu {
	width: 100%;
}
.subsubmenu .arch, .subsubmenu .design, .subsubmenu .film {
	display: none;
}
.subsubmenu ul li {
	padding: 0 2vw;
}
.subsubmenu ul li a {
	letter-spacing: 0.3vw;
	font-size: 2.5vw;
}
@media only screen and (min-aspect-ratio:16/10){
	.subsubmenu {/*big screen*/
		top: 5vh;
	}
	.subsubmenu ul li a {
		letter-spacing: 0.15vw;
		font-size: 1.2vw;
	}
}
/*project page*/
#project-page {
	display: none;
	z-index: 0;
	position: absolute;
	top: 18vh;
	left: 5vw;
	width: 90vw;
	z-index: 1;
	/*border: 0.1vh solid black;*/
}
#project-page figure img {
	width: 100%;
	height: auto;
}
#project-page .colp1 {
	display: inline-block;
	width: 44vw !important;
	position: -webkit-sticky;
	position: sticky;
	bottom: 40vw; /*sticky threshold for phones*/
	height: 120vw;
	padding-right: 3%;
}
#project-page .colp1 a:hover {
	font-style: italic;
}
#project-page .colp2 {
	display: inline-block;
	width: 46%;
	text-align: justify;
}
#project-page .colp2 figcaption {
	padding: 0;
	font-family: "gill_sans";
	font-size: 2.5vw;
	text-align: center;
}
#project-page .colp2 figure {
	margin: 3vh 0;
}
#project-page .colp1 p {
	margin-top: 1vh;
	font-size: 3vw;
	line-height: 5vw;
	color: black;
}
#project-page .colp2 p {
	font-size: 3vw;
	line-height: 4.5vw;
	color: black;
}
@media only screen and (min-aspect-ratio:7/10){
	#project-page .colp1 {
		bottom: 10vw; /*sticky threshold for tablets*/
	}
}
@media only screen and (min-aspect-ratio:16/10){
	/*big screen adjustments*/
	#project-page {
		left: 10vw;
		width: 80vw;
		top: 30vh;
	}
	#project-page .colp1 {
		width: 26vw !important;
		padding-right: 3%;
		height: 50vw;
		bottom: 4vw; /*sticky threshold for laptops & above*/
		/*border-bottom: 0.01vh solid black;*/
	}
	#project-page .colp1 p {
		margin: 3vh 0 5vh 0;
		font-size: 1.2vw;
		line-height: 2.5vw;
	}
	#project-page .colp2 {
		width: 64%;
	}
	#project-page .colp2 p {
		font-size: 1.2vw;
		line-height: 2vw;
	}
	#project-page .colp2 .fit-height img {
		width: auto;
		height: 70vh;
	}
	.fit-height:nth-of-type(odd) {
		float: left;
	}
	.fit-height:nth-of-type(even) {
		float: right;
	}
	#project-page .colp2 figcaption {
		font-size: 1.2vw;
	}
	#project-page .colp2 figure {
		margin: 5vh 0;
	}
}
/*masonry grid basics*/
#grid {
	display: none;
	z-index: 1;
	position: absolute;
	top: 24vh;
	left: 4vw;
	width: 92vw;
	/*border: 0.1vh solid black;*/
}
#grid .item a {
	outline: 0;
}
#grid .item, #grid .grid-sizer {
	width: 44vw !important;
	margin: 0 1vw 1.5vw 1vw;
}
#grid .item img {
	width: 100% !important;
	height: auto !important;
}
/*grid big screen*/
@media only screen and (min-aspect-ratio:16/10){
	#grid {
		top: 30vh;
		left: 9.5vw;
		width: 81vw;
	}
	#grid .gutter-sizer {
		width: 1vw;
	}
	#grid .item, #grid .grid-sizer  {
		width: 26vw !important;
		margin: 0 0.5vw 1vw 0.5vw;
	}
	#grid .item img {
		width: 100% !important;
		height: auto !important;
	}
}/*big screen finish*/

#grid .item_hidden {
	position: absolute;
	width: 100%;
	bottom: 20%;
	text-align: center;
	padding: 1vh 0;
	background-color: #f2f2f2;
	opacity: 0;
	transition: opacity 1s;
}
#grid .item_visible {
	filter: contrast(50%);
	transition: filter 1s;
}
/*loading animation*/
.loading {
	z-index: 5;
	position: fixed;
	top: 50%;
  left: 47%;
}
.loading-bar {
  display: inline-block;
  width: 0.5vw;
	margin: 0 0.1vw;
  height: 4.5vw;
  border-radius: 0.5vw;
  animation: loading 1s ease-in-out infinite;
}
@media only screen and (min-aspect-ratio:16/10){
	.loading {

	  left: 49%;
	}
	.loading-bar {
		width: 0.3vw;
		margin: 0 0.05vw;
	  height: 2.5vw;
	}
}
.loading-bar:nth-child(1) {
  background-color: #d3d3d3;
  animation-delay: 0;
}
.loading-bar:nth-child(2) {
  background-color: black;
  animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
  background-color: #d3d3d3;
  animation-delay: .18s;
}
.loading-bar:nth-child(4) {
  background-color: black;
  animation-delay: .27s;
}
@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}
/*loading animation over!*/
